@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

html {
}

body {
  margin: auto;
}
.header1 {
  background-image: url(images/background.jpg);

  margin: auto;
  height: 500px;
  background-color: black;
}

.header1 h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;
  top: 25%;

  margin:auto;
  color: white;

  font-family: 'Luckiest Guy', cursive;
  font-size: 70px;
  letter-spacing: 3px;
}
