html {
}

body {
  margin: auto;
}
.header1 {
  margin: auto;
  height: 200px;
  background-color: black;
  text-align: center;
}

.header1 h1 {.
vertical-align: middle;
  margin:auto;
  color: white;
}
