@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
}

body {
  margin: auto;
}

header {
  position: relative;
  z-index: 1;
}

div.first {
  background-image: url('images/image.jpg');
  height: 600px;
  opacity: 0.7;
}

div.second {
  height: 600px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

div.second h1 {
  font-family: sans-serif;
}
